.footer {
  padding: 5px;
  height: 30px;
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
}
#footer {
  opacity: 0;
  /*initially hidden*/
}
.footer img {
  height: 100%;
}
.steps-container {
  display: flex;
  margin: 10px auto;
  justify-content: space-around;
  max-width: 500px;
}
.steps-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /*font-size: 50px;*/
  color: #fff;
  line-height: 10px;
  text-align: center;
  background: #9d9d9d;
}
.steps-line {
  width: 25%;
  height: 3px;
  margin-top: 4px;
  background: #9d9d9d;
  /*background: -webkit-linear-gradient(90deg, #333 0%, #333 50%, #9d9d9d 50%); */
  /*background: -o-linear-gradient(90deg, #333 0%, #333 50%, #9d9d9d 50%); */
  /*background: -moz-linear-gradient(90deg, #333 0%, #333 50%, #9d9d9d 50%); */
  /*background: linear-gradient(90deg, #333 0%, #333 50%, #9d9d9d 50%);*/
}
.container {
  width: auto;
  position: relative;
}
.vis-container {
  margin-top: 15%;
}
#vis {
  max-width: 100%;
  position: relative;
  opacity: 0;
  /*initially hidden*/
}
#begin {
  display: none;
  /*initially hidden*/
}
#begin-mobile {
  display: none;
  /*initially hidden*/
}
.panels-container {
  position: relative;
  display: block;
  z-index: 1;
  max-height: 100%;
}
.panels-wrapper {
  /*overflow: hidden;*/
  position: absolute;
  /*margin-left: 10%;*/
}
.panels-group {
  position: relative;
  display: block;
}
.panel {
  position: relative;
  float: left;
}
.overlay {
  position: absolute;
  z-index: 1;
}
.panel-text-wrapper {
    /*margin: 25% 0;*/
    /*margin-top: 10%;*/
    width: 80%;
    position: relative;
}
.panel-text {
  z-index: 3;
  hyphens: manual;
}
.panel-video {
  display: table;
  color: #fff;
}
.panel-video-text-center {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.panel-video-caption {
  position: absolute;
  bottom: 1em;
  left: 1em;
}
.video-close {
  position: absolute;
  top: 1em;
  right: 1em;
  color: #fff;
  font-size: 2em;
  cursor: pointer !important;
}
.pad-left {
  padding-left: 50px;
}
.panel-image {
  background: url("../images/transparent.gif") no-repeat bottom center;
  background-size: cover;
  /*margin-left: 100px;*/
}
.ps-scrollbar-x, .ps-scrollbar-x-rail {
  height: 20px !important;
  border-radius: 0 !important;
  opacity: 0.7 !important;
  transition: none;
  z-index: 7;
}
.ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  bottom: 0 !important;
}
.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
  background-color: transparent !important;
}
@media (min-width: 738px) {
  .panel-text-wrapper {
    margin-top: 10%;
  }
}
.section-title {
  /*margin-top: -1.67em;*/
  margin: 0;
  float: left;
}

.credits {
  position: absolute;
  bottom: 0;
}
.credits p {
  margin-bottom: 0;
}

.menu-link {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-spacing: 0px;
  z-index: 2;
  opacity: 0;
}
.menu-link:hover {
  cursor: pointer;
  color: #f15a29;
}
.menu-link:active, .menu-link:focus {
  color: #333;
}
.menu-link-action:hover {
  cursor: pointer;
  color: #f15a29;
}
.menu-link-action:active, .menu-link-action:focus {
  color: #333;
}
.menu-link-arrow {
  /*position: absolute;*/
  /*bottom: 50%;*/
  /*right: 0;*/
  float: right;
  width: 2.34em;
  height: 2.34em;
  background: url("../images/icons/arrow-right-1.png") no-repeat center center;
  background-size: cover;
}
.menu-link:hover .menu-link-arrow {
  background: url("../images/icons/arrow-right-2.png") no-repeat center center;
}
.menu-link-action:hover .menu-link-arrow {
  background: url("../images/icons/arrow-right-2.png") no-repeat center center;
}

.menu {
  position: fixed;
  width: 90%;
  padding: 0 5%;
  max-width: 500px;
  z-index: 5;
  top: 50px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
}

.image-transition {
  -webkit-transition: background 1.5s;
  -moz-transition: background 1.5s;
  -o-transition: background 1.5s;
  transition: background 1.5s;
}
.map-label, .map-legend {
  font-size: 0.8em;
}
.hidden {
  display: none;
}
.tooltip {
    position: relative;
    /*display: inline-block;*/
    border-bottom: 1px dotted #333;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    transition: opacity .6s;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 110%;
    left: 50%;
    margin-left: -100px;
}

.tooltip .tooltiptext > a {
    color: #fff;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #333 transparent;
}
.video-container {
  position: fixed;
  /*width: 90%;*/
  height: 100%;
  padding: 0;
  /*max-width: 800px;*/
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: table;
}
.video-wrapper {
  display: table-cell;
  vertical-align: middle;
  margin: auto;
}
.video-frame {
  margin-left: auto;
  margin-right: auto;
  z-index: 9;
}
