body {
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-family: 'Karla', sans-serif;
  color: #333;
  margin: 0;
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.masthead {
  margin: 0;
  padding: 5px;
  height: 40px;
  position: absolute;
  top: 2px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 2;
}
.masthead img {
  height: 100%;
}
.footer {
  /*margin: 0;*/
  padding: 5px;
  height: 30px;
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
}
.footer img {
  height: 100%;
}
.steps-container {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  max-width: 500px;
}
.steps-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /*font-size: 50px;*/
  color: #fff;
  line-height: 10px;
  text-align: center;
  background: #9d9d9d;
}
.steps-line {
  width: 25%;
  height: 3px;
  margin-top: 4px;
  background: #9d9d9d;
  /*background: -webkit-linear-gradient(90deg, #333 0%, #333 50%, #9d9d9d 50%); */
  /*background: -o-linear-gradient(90deg, #333 0%, #333 50%, #9d9d9d 50%); */
  /*background: -moz-linear-gradient(90deg, #333 0%, #333 50%, #9d9d9d 50%); */
  /*background: linear-gradient(90deg, #333 0%, #333 50%, #9d9d9d 50%);*/
}
.container {
  width: auto;
  position: relative;
}
.vis-container {
  margin-top: 15%;
}
#vis {
  max-width: 100%;
  /*overflow-x: hidden;*/
  /*overflow-y: hidden;*/
  position: relative;
}
.panels-container {
  position: relative;
  display: block;
  z-index: 1;
  max-height: 100%;
}
.panels-wrapper {
  /*overflow: hidden;*/
  position: absolute;
  /*margin-left: 10%;*/
}
.panels-group {
  position: relative;
  display: block;
}
.panel {
  position: relative;
  float: left;
}
.panel-text {
  /*position: relative;*/
}
.overlay {
  position: absolute;
  z-index: 1;
}
.panel-text-wrapper {
    /*margin: 25% 0;*/
    /*margin-top: 10%;*/
    width: 80%;
    position: relative;
}
.panel-image {
  background: url("../images/transparent.gif") no-repeat bottom center;
  background-size: cover;
  /*margin-left: 100px;*/
}
.ps-scrollbar-x, .ps-scrollbar-x-rail {
  display: none !important;
}

@media (min-width: 738px) {
  .panel-text-wrapper {
    margin-top: 10%;
  }
}
@media (max-width: 768px) {
  p {
    font-size: 1em;
  }
  h3 {
    font-size: 1.2em;
  }
}
