.container-wrapper {
  margin-top: 50px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  overflow: auto;
  padding-bottom: 85px;
}
.buttons-container {
  display: block;
}

@media only screen and (max-width: 768px) {
  .container-wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }
  .footer {
    height: 50px;
  }
}
@@media only screen and (min-width: 768px) {
  .footer {
    height: 70px;
  }
}
@media (max-height: 600px) {
  .btn > a > h3 {
    /*margin: 0.8em;*/
  }
}

#more-info {
  display: none;
}

.footer {
  padding: 0 0 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
  background: #fff;
  overflow: auto;
}

.steps-container {
  display: block;
  margin: 0 auto;
  max-width: 500px;
}

.masthead {
  position: fixed !important;
  background: #fff;
  padding-bottom: 7px !important;
}

#footer-menu {
  display: none;
  padding: 0 10px;
}
.footnotes {
  font-size: 0.8em;
}
.credits p {
  margin-bottom: 0;
}
