<div class="cover" id="menu-cover">
  <div class="menu" id="menu">
    <h3 class="text-center">Explore other Waste Journeys</h3>
    <a href="curb-to-landfill" class="a-btn" id="menu-curb-to-landfill">
      <div class="btn btn-menu">
        <h3 class="no-margin">From Curb to Landfill</h3>
      </div>
    </a>
    <a href="history" class="a-btn" id="menu-history">
      <div class="btn btn-menu">
        <h3 class="no-margin">Waste in the 1900s</h3>
      </div>
    </a>
    <a href="recyclables" class="a-btn" id="menu-recyclables">
      <div class="btn btn-menu">
        <h3 class="no-margin">Recyclables
        </h3>
      </div>
    </a>
    <a href="organics" class="a-btn" id="menu-organics">
      <div class="btn btn-menu">
        <h3 class="no-margin">Organics
        </h3>
      </div>
    </a>
    <a href="incineration" class="a-btn">
      <div class="btn btn-menu">
        <h3 class="no-margin">Incineration
        </h3>
      </div>
    </a>
    <a href="commercial" class="a-btn">
      <div class="btn btn-menu">
        <h3 class="no-margin">Commercial Waste
        </h3>
      </div>
    </a>
    <a href="construction-and-demolition" class="a-btn">
      <div class="btn btn-menu">
        <h3 class="no-margin">Construction &amp; Demoliton
        </h3>
      </div>
    </a>
    <a href="" class="a-btn">
      <div class="btn btn-menu">
        <h3 class="no-margin">About Waste Journeys</h3>
      </div>
    </a>
    <a href="https://open-house-new-york.github.io/getting-to-zero" class="a-btn">
      <div class="btn btn-menu">
        <h3 class="no-margin">Back to Main Site</h3>
      </div>
    </a>
  </div>
</div>
