<div class="cover" id="menu-cover">
  <div class="menu" id="menu">
    <h3 class="text-center">Explore other Waste Journeys</h3>
    <a href="/curb-to-landfill" class="a-btn" id="menu-curb-to-landfill">
      <div class="btn btn-menu">
        <h3 class="no-margin">From Curb to Landfill</h3>
      </div>
    </a>
    <a href="/history" class="a-btn" id="menu-history">
      <div class="btn btn-menu">
        <h3 class="no-margin">Waste in the 1900s</h3>
      </div>
    </a>
    <a href="/recyclables" class="a-btn">
      <div class="btn btn-menu">
        <h3 class="no-margin">Recyclables
        </h3>
      </div>
    </a>
    <a href="#" class="a-btn disabled">
      <div class="btn btn-menu disabled">
        <h3 class="no-margin">Organics
          <span class="smaller">(late March)</span>
        </h3>
      </div>
    </a>
    <a href="#" class="a-btn disabled">
      <div class="btn btn-menu disabled">
        <h3 class="no-margin">Incineration
          <span class="smaller">(late March)</span>
        </h3>
      </div>
    </a>
    <a href="#" class="a-btn disabled">
      <div class="btn btn-menu disabled">
        <h3 class="no-margin">Commercial Waste
          <span class="smaller">(early April)</span>
        </h3>
      </div>
    </a>
    <a href="#" class="a-btn disabled">
      <div class="btn btn-menu disabled">
        <h3 class="no-margin">Construction &amp; Demoliton
          <span class="smaller">(mid-April)</span>
        </h3>
      </div>
    </a>
    <a href="/" class="a-btn">
      <div class="btn btn-menu">
        <h3 class="no-margin" id="menu-about-journeys">About Waste Journeys</h3>
      </div>
    </a>
    <a href="http://www.gettingtozero.nyc" class="a-btn">
      <div class="btn btn-menu">
        <h3 class="no-margin">Back to Main Site</h3>
      </div>
    </a>
  </div>
</div>
