<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <title>Getting to Zero NYC | Waste Journeys | Construction and Demolition</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Search Engine -->
    <meta name="description" content="Almost half of all waste generated in New York City is made up of construction and demolition debris. Find out what happens to this waste in a series of visualizations.">
    <meta name="image" content="http://journeys.gettingtozero.nyc/images/thumbnails/site.jpg">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="Getting to Zero NYC | Waste Journeys | Construction and Demolition">
    <meta itemprop="description" content="Almost half of all waste generated in New York City is made up of construction and demolition debris. Find out what happens to this waste in a series of visualizations.">
    <meta itemprop="image" content="http://journeys.gettingtozero.nyc/images/thumbnails/site.jpg">
    <!-- Twitter -->
    <meta property="twitter:url" content="http://journeys.gettingtozero.nyc/construction-and-demolition.html" />
    <meta property="twitter:card" content="summary">
    <meta property="twitter:title" content="Getting to Zero NYC | Waste Journeys | Construction and Demolition">
    <meta property="twitter:description" content="Almost half of all waste generated in New York City is made up of construction and demolition debris. Find out what happens to this waste in a series of visualizations.">
    <meta property="twitter:image:src" content="http://journeys.gettingtozero.nyc/images/thumbnails/construction-and-demolition-tw.jpg">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta property="og:title" content="Getting to Zero NYC | Waste Journeys | Construction and Demolition">
    <meta property="og:description" content="Almost half of all waste generated in New York City is made up of construction and demolition debris. Find out what happens to this waste in a series of visualizations.">
    <meta property="og:image" content="http://journeys.gettingtozero.nyc/images/thumbnails/construction-and-demolition-og.jpg">
    <meta property="og:url" content="http://journeys.gettingtozero.nyc/construction-and-demolition.html">
    <meta property="og:site_name" content="Getting to Zero NYC | Waste Journeys | OHNY">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/perfect-scrollbar/css/perfect-scrollbar.css" />
    <link rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/custom_components/modernizr/modernizr-custom.js"></script>
    <!-- endbuild -->

  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="container">
      <%include src="../partials/header.html"%>
      <%include src="../partials/journeys-menu.html"%>

      <div id="vis">
            <div class="panels-wrapper">
              <div class="panels-group">

                <div class="panel panel-text overlay not-mobile" data-type="text-overlay" id="text-0-1">
                  <div class="panel-text-wrapper">
                    <h3>About 6 million tons of construction and demolition debris are generated in New York City every year.</h3>
                    <p>This amounts to almost half of all waste generated in the city by weight—almost the same quantity as generated by residents and businesses combined.<span class="tooltip">*<span class="tooltiptext">OneNYC, 2014; NYSDEC C&amp;D Processors and Transfer Stations Annual Reports, 2015; New York City Commercial Solid Waste Study and Analysis, 2012 Summary Report.</span></span></p>
                    <p id="begin"><strong>Scroll down to begin <i class="fa fa-long-arrow-right" aria-hidden="true"></i></strong></p>
                    <p id="begin-mobile"><strong>Swipe right to begin <i class="fa fa-long-arrow-right" aria-hidden="true"></i></strong></p>
                  </div>
                </div>
                <div class="panel panel-image not-mobile" data-type="image" id="panel-0-1" data-imageurl="demolition-l-nm.jpg"></div>
                <div class="panel panel-image not-mobile" data-type="image" id="panel-0-2" data-imageurl="demolition-r-nm.jpg"></div>

                <div class="panel panel-text overlay mobile" data-type="text-overlay" id="text-0-1">
                  <div class="panel-text-wrapper">
                    <h3>About 6 million tons of construction and demolition debris are generated in New York City every year.</h3>
                    <p>This amounts to almost half of all waste generated in the city by weight—almost the same quantity as generated by residents and businesses combined.<span class="tooltip">*<span class="tooltiptext">OneNYC, 2014; NYSDEC C&amp;D Processors and Transfer Stations Annual Reports, 2015; New York City Commercial Solid Waste Study and Analysis, 2012 Summary Report.</span></span></p>
                    <p id="begin"><strong>Scroll down to begin <i class="fa fa-long-arrow-right" aria-hidden="true"></i></strong></p>
                    <p id="begin-mobile"><strong>Swipe right to begin <i class="fa fa-long-arrow-right" aria-hidden="true"></i></strong></p>
                  </div>
                </div>
                <div class="panel panel-image mobile" data-type="image" id="panel-0-1" data-imageurl="demolition-l.jpg"></div>
                <div class="panel panel-image mobile" data-type="image" id="panel-0-2" data-imageurl="demolition-r.jpg"></div>

                <div class="panel panel-text block not-mobile" data-type="text-block" id="text-0-3">
                  <h5 class="section-title">GENERATION</h5>
                  <div class="panel-text-wrapper">
                    <h3>Debris and fill</h3>
                    <p>Construction and demolition (C&amp;D) debris is produced in constructions, renovations, excavations, and demolitions. This includes work on buildings, roads, and utilities.</p>
                    <p>This type of waste is usually divided into two main legal categories: clean fill (comprised of excavated earth, concrete, and stones); and another category for all other debris.</p>
                    <p>Clean fill is less regulated by the State than other types of C&amp;D debris, and can be used to grade or level other construction sites for no fee.<span class="tooltip">*<span class="tooltiptext"><a href="https://govt.westlaw.com/nycrr/Document/I4eab6469cd1711dda432a117e6e0f345?viewType=FullText&originationContext=documenttoc&transitionType=CategoryPageItem&contextData=%28sc.Default%29&bhcp=1" class="inline-link">NYSDEC, Subpart 360-8.2(1)(a)</a>.</span></span></p>
                  </div>
                </div>
                <div class="panel panel-text block mobile" data-type="text-block" id="text-0-3">
                  <h5 class="section-title">GENERATION</h5>
                  <div class="panel-text-wrapper">
                    <h3>Debris and fill</h3>
                    <p>Construction and demolition (C&amp;D) debris is produced in constructions, renovations, excavations, and demolitions. This includes work on buildings, roads, and utilities.</p>
                    <p>This type of waste is usually divided into two main legal categories: clean fill (comprised of excavated earth, concrete, and stones); and another category for all other debris.</p>
                  </div>
                </div>
                <div class="panel panel-text block mobile" data-type="text-block" id="text-0-30">
                  <div class="panel-text-wrapper">
                    <h3>&nbsp;</h3>
                    <p>Clean fill is less regulated by the State than other types of C&amp;D debris, and can be used to grade or level other construction sites for no fee.<span class="tooltip">*<span class="tooltiptext"><a href="https://govt.westlaw.com/nycrr/Document/I4eab6469cd1711dda432a117e6e0f345?viewType=FullText&originationContext=documenttoc&transitionType=CategoryPageItem&contextData=%28sc.Default%29&bhcp=1" class="inline-link">NYSDEC, Subpart 360-8.2(1)(a)</a>.</span></span></p>
                  </div>
                </div>
                <div class="panel panel-image" data-type="image" id="panel-0-31" data-imageurl="excavation.jpg"></div>
                <div class="panel panel-text block" data-type="text-block" id="text-0-32">
                  <h5 class="section-title">COLLECTION</h5>
                  <div class="panel-text-wrapper">
                    <h3>Contractors and haulers</h3>
                    <p>On the job-site, contractors collect clean fill and other debris in containers, rented from private haulers. These containers can range from 1 to 20 yards in length.</p>
                    <p>C&amp;D debris collection and disposal is handled entirely by private companies. There are currently more than 1,000 C&amp;D haulers with permits in New York City, and many other companies in the region that also service the city.<span class="tooltip">*<span class="tooltiptext"><a href="http://www.nyc.gov/html/bic/downloads/pdf/cl2approved.pdf" class="inline-link">Business Integrity Commission, 2017</a>.</span></span></p>
                  </div>
                </div>
                <div class="panel panel-text block not-mobile" data-type="text-block" id="text-0-33">
                  <div class="panel-text-wrapper">
                    <h3>Source separation</h3>
                    <p>Some contractors separate the debris on the job-site into a series of materials, including metal, wood, masonry, and cardboard. Others commingle all materials, which may or may not be separated later at a processing facility.</p>
                    <p>Source separation has the benefit of increasing recycling rates and generating the best prices for materials.</p>
                    <p>However, capacity for source separation depends on a series of factors, including space for different containers, and phasing of demolition and construction work.</p>
                    <p>In New York City, source separation of materials is rare, mostly due to space constraints at job-sites.<span class="tooltip">*<span class="tooltiptext"><a href="https://www1.nyc.gov/assets/ddc/downloads/Sustainable/construction-waste-manual.pdf" class="inline-link">Construction and Demolition Waste Manual, NYC DDC, May 2003</a>.</span></span></p>
                  </div>
                </div>
                <div class="panel panel-text block mobile" data-type="text-block" id="text-0-33">
                  <div class="panel-text-wrapper">
                    <h3>Source separation</h3>
                    <p>Some contractors separate the debris on the job-site into a series of materials, including metal, wood, masonry, and cardboard. Others commingle all materials, which may or may not be separated later at a processing facility.</p>
                    <p>Source separation has the benefit of increasing recycling rates and generating the best prices for materials.</p>
                  </div>
                </div>
                <div class="panel panel-text block mobile" data-type="text-block" id="text-0-34">
                  <div class="panel-text-wrapper">
                    <h3>&nbsp;</h3>
                    <p>However, capacity for source separation depends on a series of factors, including space for different containers, and phasing of demolition and construction work.</p>
                    <p>In New York City, source separation of materials is rare, mostly due to space constraints at job-sites.<span class="tooltip">*<span class="tooltiptext"><a href="https://www1.nyc.gov/assets/ddc/downloads/Sustainable/construction-waste-manual.pdf" class="inline-link">Construction and Demolition Waste Manual, NYC DDC, May 2003</a>.</span></span></p>
                  </div>
                </div>
                <div class="panel panel-image" data-type="image" id="panel-0-4" data-imageurl="mini-dumpsters.jpg"></div>
                <div class="panel panel-text block" data-type="text-block" id="text-0-5">
                  <div class="panel-text-wrapper">
                    <h3>The "mini container"</h3>
                    <p>The yard-wide, "mini container" is commonly used in New York City due to its compact size.</p>
                    <p>Here, we see containers source-separated for metals, a material with high recycling value, being collected by a private hauler.</p>
                    <p>The rear-loader collection trucks usually have cables or mechanical arms that lift and tip the containers into their backs.</p>
                  </div>
                </div>
                <div class="panel panel-image" data-type="image" id="panel-0-6" data-imageurl="pickup-rear.jpg"></div>

                <div class="panel panel-text block not-mobile" data-type="text-block" id="text-0-7">
                  <div class="panel-text-wrapper">
                    <h3>To a processing facility or transfer station</h3>
                    <p>When collection trucks are full, they usually head to a C&amp;D debris processing facility.</p>
                    <p>Processing facilities will either receive a single type of material for recycling; or mixed materials, from which they will recover certain recyclables.</p>
                    <p>Clean fill can be taken directly to other construction sites for use in grading terrain.</p>
                    <p>C&amp;D debris is sometimes taken to transfer stations. Transfer stations can accept C&amp;D debris that's mixed with other types of solid waste, which processing facilities can't. But their fees are higher and they usually don't recover materials for recycling, sending almost everything to landfills or incinerators.</p>
                  </div>
                </div>
                <div class="panel panel-text block mobile" data-type="text-block" id="text-0-7">
                  <div class="panel-text-wrapper">
                    <h3>To a processing facility or transfer station</h3>
                    <p>When collection trucks are full, they usually head to a C&amp;D debris processing facility.</p>
                    <p>Processing facilities will either receive a single type of material for recycling; or mixed materials, from which they will recover certain recyclables.</p>
                    <p>Clean fill can be taken directly to other construction sites for use in grading terrain.</p>
                  </div>
                </div>
                <div class="panel panel-text block mobile" data-type="text-block" id="text-0-70">
                  <div class="panel-text-wrapper">
                    <h3>&nbsp;</h3>
                    <p>C&amp;D debris is sometimes taken to transfer stations. Transfer stations can accept C&amp;D debris that's mixed with other types of solid waste, which processing facilities can't. But their fees are higher and they usually don't recover materials for recycling, sending almost everything to landfills or incinerators.</p>
                  </div>
                </div>
                <div class="panel panel-text block" data-type="text-block" id="text-0-71">
                  <div class="panel-text-wrapper">
                    <h3>&nbsp;</h3>
                    <p>Haulers in New York City can use one of the more than 40 C&amp;D processing facilities located in the city, as well as many other facilities in Long Island, Upstate New York, or New Jersey.</p>
                    <p>(Click map to replay animation. The data displayed on the map only includes facilities within New York City)</p>
                  </div>
                </div>
                <div class="panel panel-image map-cnd-ts" data-type="map" id="panel-0-8" data-geo="nyc"></div>


                <div class="panel panel-text block not-mobile" data-type="text-block" id="text-1-0">
                  <h5 class="section-title">PROCESSING</h5>
                  <div class="panel-text-wrapper">
                    <h3>Arriving at a processing facility</h3>
                    <p>C&amp;D debris processing facilities are in many ways similar to waste transfer stations. They are primarily logistical centers for debris, consolidating loads from smaller trucks into bigger ones before sending it for disposal.</p>
                    <p>Processing facilities are subject to regulations by the State's Department of Environmental Conservation that are different from transfer stations'. They are only allowed to handle C&amp;D debris that is not mixed with putrescible solid waste. Another requirement is to control dust, so many facilities hose the debris with water to stay in compliance.</p>
                  </div>
                </div>
                <div class="panel panel-text block mobile" data-type="text-block" id="text-1-0">
                  <h5 class="section-title">PROCESSING</h5>
                  <div class="panel-text-wrapper">
                    <h3>Arriving at a processing facility</h3>
                    <p>C&amp;D debris processing facilities are in many ways similar to waste transfer stations. They are primarily logistical centers for debris, consolidating loads from smaller trucks into bigger ones before sending it for disposal.</p>
                  </div>
                </div>
                <div class="panel panel-text block mobile" data-type="text-block" id="text-1-10">
                  <div class="panel-text-wrapper">
                    <h3>&nbsp;</h3>
                    <p>Processing facilities are subject to regulations by the State's Department of Environmental Conservation that are different from transfer stations'. They are only allowed to handle C&amp;D debris that is not mixed with putrescible solid waste. Another requirement is to control dust, so many facilities hose the debris with water to stay in compliance.</p>
                  </div>
                </div>
                <div class="panel panel-image" data-type="image" id="panel-1-1" data-imageurl="processing-facility-outside.jpg"></div>
                <div class="panel panel-text block not-mobile" data-type="text-block" id="text-1-2">
                  <div class="panel-text-wrapper">
                    <h3>Separating materials</h3>
                    <p>Inside the facility, workers will direct drivers on where to unload the debris. The main objective is to keep different materials separated, so that recyclables can be recovered and sold.</p>
                    <p>In some cases, processing facilities may grind materials to be used as "alternate daily cover" at landfills. This material can substitute soil used daily at landfills to cover solid waste, state regulations permitting.</p>
                    <p>Some states or municipalities may even designate this practice as a form of recycling, but this is controversial, as it can significantly alter a city's recycling rate due to the considerable weight of this material.<span class="tooltip">*<span class="tooltiptext"><a href="https://discardstudies.com/2013/12/06/san-franciscos-famous-80-waste-diversion-rate-anatomy-of-an-exemplar/" class="inline-link">"San Francisco’s Famous 80% Waste Diversion Rate," Samantha MacBride, 2013</a>.</span></span></p>
                  </div>
                </div>
                <div class="panel panel-text block mobile" data-type="text-block" id="text-1-2">
                  <div class="panel-text-wrapper">
                    <h3>Separating materials</h3>
                    <p>Inside the facility, workers will direct drivers on where to unload the debris. The main objective is to keep different materials separated, so that recyclables can be recovered and sold.</p>
                  </div>
                </div>
                <div class="panel panel-text block mobile" data-type="text-block" id="text-1-20">
                  <div class="panel-text-wrapper">
                    <h3>&nbsp;</h3>
                    <p>In some cases, processing facilities may grind materials to be used as "alternate daily cover" at landfills. This material can substitute soil used daily at landfills to cover solid waste, state regulations permitting.</p>
                    <p>Some states or municipalities may even designate this practice as a form of recycling, but this is controversial, as it can significantly alter a city's recycling rate due to the considerable weight of this material.<span class="tooltip">*<span class="tooltiptext"><a href="https://discardstudies.com/2013/12/06/san-franciscos-famous-80-waste-diversion-rate-anatomy-of-an-exemplar/" class="inline-link">"San Francisco’s Famous 80% Waste Diversion Rate," Samantha MacBride, 2013</a>.</span></span></p>
                  </div>
                </div>
                <div class="panel panel-image" data-type="image" id="panel-1-3" data-imageurl="processing-facility-inside.jpg"></div>
                <div class="panel panel-text block not-mobile" data-type="text-block" id="text-1-4">
                  <h5 class="section-title">RECYCLING</h5>
                  <div class="panel-text-wrapper">
                    <h3>How much is actually recycled?</h3>
                    <p>Recycling rates for C&amp;D debris are difficult to estimate for New York City for a few reasons.</p>
                    <p>First, the collection and disposal are entirely handled by private companies, and there are more than 1,000 that can serve customers in the city. Second, reporting requirements, formatting, and data availability vary across different states. Last, debris often changes hands between C&amp;D processors, making tracking difficult.</p>
                    <p>Different studies by the City have estimated a 40% recycling rate for non-fill C&amp;D materials, while estimates from fill material can range from 60% to 100%.<span class="tooltip">*<span class="tooltiptext"><a href="https://www1.nyc.gov/assets/ddc/downloads/Sustainable/construction-waste-manual.pdf" class="inline-link">Construction and Demolition Waste Manual, NYC DDC, May 2003</a>; <a href="http://s-media.nyc.gov/agencies/planyc2030/pdf/planyc_2011_solid_waste.pdf" class="inline-link">PlaNYC, 2013</a>.</span></span>
                    </p>
                  </div>
                </div>
                <div class="panel panel-text block mobile" data-type="text-block" id="text-1-4">
                  <h5 class="section-title">RECYCLING</h5>
                  <div class="panel-text-wrapper">
                    <h3>How much is actually recycled?</h3>
                    <p>Recycling rates for C&amp;D debris are difficult to estimate for New York City for a few reasons.</p>
                    <p>First, the collection and disposal are entirely handled by private companies, and there are more than 1,000 that can serve customers in the city. Second, reporting requirements, formatting, and data availability vary across different states. Last, debris often changes hands between C&amp;D processors, making tracking difficult.</p>
                    </p>
                  </div>
                </div>
                <div class="panel panel-text block mobile" data-type="text-block" id="text-1-40">
                  <div class="panel-text-wrapper">
                    <h3>&nbsp;</h3>
                    <p>Different studies by the City have estimated a 40% recycling rate for non-fill C&amp;D materials, while estimates from fill material can range from 60% to 100%.<span class="tooltip">*<span class="tooltiptext"><a href="https://www1.nyc.gov/assets/ddc/downloads/Sustainable/construction-waste-manual.pdf" class="inline-link">Construction and Demolition Waste Manual, NYC DDC, May 2003</a>; <a href="http://s-media.nyc.gov/agencies/planyc2030/pdf/planyc_2011_solid_waste.pdf" class="inline-link">PlaNYC, 2013</a>.</span></span>
                    </p>
                  </div>
                </div>

                <div class="panel panel-text block not-mobile" data-type="text-block" id="text-1-6">
                  <div class="panel-text-wrapper">
                    <h3>Other opportunities for recycling</h3>
                    <p>Currently, the majority of materials recycled from C&amp;D debris in the US are metal, concrete, and masonry. However, there are many opportunities to recover other materials from this waste stream.<span class="tooltip">*<span class="tooltiptext"><a href="https://www.nrdc.org/sites/default/files/glo_11111401a.pdf" class="inline-link">"More Jobs, Less Pollution," p. 17, Tellus Institute, 2008</a>.</span></span>
                    </p>
                    <p>For example, one interesting recycling opportunity is gypsum, a mineral that's the main component of wallboard. If done properly, gypsum can be recycled indefinitely. Gypsum can also generate hydrogen sulfide when landfilled, a dangerous gas, which has lead to it being banned from landfills in other countries.<span class="tooltip">*<span class="tooltiptext"><a href="http://www.mdpi.com/2313-4321/1/3/311/pdf" class="inline-link">"Drywall (Gyproc Plasterboard) Recycling and Reuse...," MDPI Recycling, 2016</a>.</span></span>
                    </p>
                  </div>
                </div>
                <div class="panel panel-text block mobile" data-type="text-block" id="text-1-6">
                  <div class="panel-text-wrapper">
                    <h3>Other opportunities for recycling</h3>
                    <p>Currently, the majority of materials recycled from C&amp;D debris in the US are metal, concrete, and masonry. However, there are many opportunities to recover other materials from this waste stream.<span class="tooltip">*<span class="tooltiptext"><a href="https://www.nrdc.org/sites/default/files/glo_11111401a.pdf" class="inline-link">"More Jobs, Less Pollution," p. 17, Tellus Institute, 2008</a>.</span></span>
                    </p>
                  </div>
                </div>
                <div class="panel panel-text block mobile" data-type="text-block" id="text-1-60">
                  <div class="panel-text-wrapper">
                    <h3>&nbsp;</h3>
                    <p>For example, one interesting recycling opportunity is gypsum, a mineral that's the main component of wallboard. If done properly, gypsum can be recycled indefinitely. Gypsum can also generate hydrogen sulfide when landfilled, a dangerous gas, which has lead to it being banned from landfills in other countries.<span class="tooltip">*<span class="tooltiptext"><a href="http://www.mdpi.com/2313-4321/1/3/311/pdf" class="inline-link">"Drywall (Gyproc Plasterboard) Recycling and Reuse...," MDPI Recycling, 2016</a>.</span></span>
                    </p>
                  </div>
                </div>

                <div class="panel panel-text block not-mobile" data-type="text-block" id="text-2-0">
                  <h5 class="section-title">LANDFILLING</h5>
                  <div class="panel-text-wrapper">
                    <h3>Sending it "away"</h3>
                    <p>Materials that are not recovered for recycling are either sent by truck to landfills or to other C&amp;D processors for further separation and processing.</p>
                    <p>There are no active landfills in New York City, and the debris can sometimes travel to landfills that are hundreds of miles away, if their tipping fees are competitive enough to offset the transportation costs.</p>
                    <p>Long Island also receives a significant quantity of C&amp;D debris and clean fill generated in New York City.</p>
                    <p>(Click map to replay animation)</p>
                  </div>
                </div>
                <div class="panel panel-text block mobile" data-type="text-block" id="text-2-0">
                  <h5 class="section-title">LANDFILLING</h5>
                  <div class="panel-text-wrapper">
                    <h3>Sending it "away"</h3>
                    <p>Materials that are not recovered for recycling are either sent by truck to landfills or to other C&amp;D processors for further separation and processing.</p>
                  </div>
                </div>
                <div class="panel panel-text block mobile" data-type="text-block" id="text-2-10">
                  <div class="panel-text-wrapper">
                    <h3>&nbsp;</h3>
                    <p>There are no active landfills in New York City, and the debris can sometimes travel to landfills that are hundreds of miles away, if their tipping fees are competitive enough to offset the transportation costs.</p>
                    <p>Long Island also receives a significant quantity of C&amp;D debris and clean fill generated in New York City.</p>
                    <p>(Click map to replay animation)</p>
                  </div>
                </div>
                <div class="panel panel-image map-cnd-export" data-type="map" id="panel-2-1" data-geo="nyc"></div>


                <!-- final -->
                <div class="panel panel-text block not-mobile" data-type="text-block" id="text-4-0">
                  <div class="panel-text-wrapper">
                    <h3>But this is just a part of the story.</h3>
                    <p>As part of its commitment to become a zero waste city by 2030, New York is seeking to significantly reduce commercial and residential waste disposal.</p>
                    <p>However, in its zero waste plan, the City does not mention any strategies aimed at reducing the disposal of C&amp;D debris. Currently, New York City has no mandatory requirements for C&amp;D recycling.</p>
                    <p>Demolition sites also present many opportunities for salvaging and reuse of construction materials that could be incentivized through public policies.<span class="tooltip">*<span class="tooltiptext"><a href="https://www1.nyc.gov/assets/ddc/downloads/Sustainable/construction-waste-manual.pdf" class="inline-link">Construction and Demolition Waste Manual, NYC DDC, May 2003</a>.</span></span></p>
                  </div>
                </div>
                <div class="panel panel-text block mobile" data-type="text-block" id="text-4-0">
                  <div class="panel-text-wrapper">
                    <h3>But this is just a part of the story.</h3>
                    <p>As part of its commitment to become a zero waste city by 2030, New York is seeking to significantly reduce commercial and residential waste disposal.</p>
                  </div>
                </div>
                <div class="panel panel-text block mobile" data-type="text-block" id="text-4-10">
                  <div class="panel-text-wrapper">
                    <h3>&nbsp;</h3>
                    <p>However, in its zero waste plan, the City does not mention any strategies aimed at reducing the disposal of C&amp;D debris. Currently, New York City has no mandatory requirements for C&amp;D recycling.</p>
                    <p>Demolition sites also present many opportunities for salvaging and reuse of construction materials that could be incentivized through public policies.<span class="tooltip">*<span class="tooltiptext"><a href="https://www1.nyc.gov/assets/ddc/downloads/Sustainable/construction-waste-manual.pdf" class="inline-link">Construction and Demolition Waste Manual, NYC DDC, May 2003</a>.</span></span></p>
                  </div>
                </div>
                <div class="panel panel-text not-mobile" data-type="text-block" id="text-4-1" style="padding-left: 50px !important;">
                  <div class="panel-text-wrapper">
                    <h3>&nbsp;</h3>
                    <p>Addressing C&amp;D debris is specially important in planning for zero waste since it comprises almost half of all waste generated in New York City.</p>
                  </div>
                  <table class="menu-link" id="menu-link" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td><h3 class="no-margin">See what other waste journeys New York City's waste can take</h3></td>
                      <td><div class="menu-link-arrow"></div></td>
                    </tr>
                  </table>
                  <div class="credits smaller">
                    <p>Waste Journeys was created for <i>Getting to Zero</i>, the third installment of <a href="http://www.ohny.org/" class="inline-link">Open House New York</a>’s Urban Systems Series.
                      Getting to Zero is made possible by an award from the National Endowment for the Arts.
                      Digital content and research by <a href="http://www.bernardol.com/" class="inline-link">Bernardo Loureiro</a>.</p>
                    <p>Photos by (in order): <a href="https://www.flickr.com/photos/juliarowe/12162240565/" class="inline-link">
                    Jukie Bot</a>; <a href="https://www.flickr.com/photos/zokuga/6944706159/" class="inline-link">
                    Dan Nguyen</a>; <a href="http://SmartSign.com" class="inline-link">
                    Smart Sign</a>; <a href="https://www.youtube.com/watch?v=qQuGFxCqnuY" class="inline-link">
                    George Wuzheer</a>; <a href="http://www.buildingproductecosystems.org/" class="inline-link">
                    Building Product Ecosystems</a>. Map data by OpenStreetMap contributors; NYC DCP; DSNY; NYS DEP.</p>
                  </div>
                </div>
                <div class="panel panel-text mobile" data-type="text-block" id="text-4-1">
                  <div class="panel-text-wrapper">
                    <h3>&nbsp;</h3>
                    <p>Addressing commercial waste is particularly important in planning for a zero waste New York, since it accounts for about 27% of all waste generated in the city.</p>
                  </div>
                </div>
                <div class="panel panel-text mobile" data-type="text-block" id="text-4-2" style="padding-left: 50px !important;">
                  <table class="menu-link" id="menu-link" border="0" cellspacing="0" cellpadding="0" style="margin-top: 50%;">
                    <tr>
                      <td><h3 class="no-margin">See what other waste journeys New York City's waste can take</h3></td>
                      <td><div class="menu-link-arrow"></div></td>
                    </tr>
                  </table>
                  <div class="credits smaller">
                    <p>Waste Journeys was created for <i>Getting to Zero</i>, the third installment of <a href="http://www.ohny.org/" class="inline-link">Open House New York</a>’s Urban Systems Series.
                      Getting to Zero is made possible by an award from the National Endowment for the Arts.
                      Digital content and research by <a href="http://www.bernardol.com/" class="inline-link">Bernardo Loureiro</a>.</p>
                      <p>Photos by (in order): <a href="https://www.flickr.com/photos/juliarowe/12162240565/" class="inline-link">
                      Jukie Bot</a>; <a href="https://www.flickr.com/photos/zokuga/6944706159/" class="inline-link">
                      Dan Nguyen</a>; <a href="http://SmartSign.com" class="inline-link">
                      Smart Sign</a>; <a href="https://www.youtube.com/watch?v=qQuGFxCqnuY" class="inline-link">
                      George Wuzheer</a>; <a href="http://www.buildingproductecosystems.org/" class="inline-link">
                      Building Product Ecosystems</a>. Map data by OpenStreetMap contributors; NYC DCP; DSNY; NYS DEP.</p>
                  </div>
                </div>

              </div>
              <!-- panels -->
            </div>
            <!-- panels wrapper -->
      </div>
      <!-- vis -->

    </div>
    <!-- container -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      // ga('create', 'UA-91186450-1', 'auto');
      // ga('send', 'pageview');

    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script src="/bower_components/underscore/underscore.js"></script>
    <script src="/bower_components/perfect-scrollbar/js/perfect-scrollbar.js"></script>
    <script src="/bower_components/d3/d3.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/cnd-main.js -->
    <script src="scripts/sizes/cnd-sizes.js" charset="utf-8"></script>
    <script src="scripts/configs/cnd-configs.js" charset="utf-8"></script>
    <script src="scripts/maps/cnd-maps.js" charset="utf-8"></script>
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js" charset="utf-8"></script>
    <!-- endbuild -->
  </body>
</html>
