<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <title>Getting to Zero NYC | Waste Journeys | Incineration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Search Engine -->
    <meta name="description" content="About 25% of New Yorker's residential and institutional waste is currently incinerated. Find out what happens to it in a series of visualizations.">
    <meta name="image" content="http://journeys.gettingtozero.nyc/images/thumbnails/site.jpg">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="Getting to Zero NYC | Waste Journeys | Incineration">
    <meta itemprop="description" content="About 25% of New Yorker's residential and institutional waste is currently incinerated. Find out what happens to it in a series of visualizations.">
    <meta itemprop="image" content="http://journeys.gettingtozero.nyc/images/thumbnails/site.jpg">
    <!-- Twitter -->
    <meta property="twitter:url" content="http://journeys.gettingtozero.nyc/incineration.html" />
    <meta property="twitter:card" content="summary">
    <meta property="twitter:title" content="Getting to Zero NYC | Waste Journeys | Incineration">
    <meta property="twitter:description" content="About 25% of New Yorker's residential and institutional waste is currently incinerated. Find out what happens to it in a series of visualizations.">
    <meta property="twitter:image:src" content="http://journeys.gettingtozero.nyc/images/thumbnails/incineration-tw.jpg">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta property="og:title" content="Getting to Zero NYC | Waste Journeys | Incineration">
    <meta property="og:description" content="About 25% of New Yorker's residential and institutional waste is currently incinerated. Find out what happens to it in a series of visualizations.">
    <meta property="og:image" content="http://journeys.gettingtozero.nyc/images/thumbnails/incineration-og.jpg">
    <meta property="og:url" content="http://journeys.gettingtozero.nyc/incineration.html">
    <meta property="og:site_name" content="Getting to Zero NYC | Waste Journeys | OHNY">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/perfect-scrollbar/css/perfect-scrollbar.css" />
    <link rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/custom_components/modernizr/modernizr-custom.js"></script>
    <!-- endbuild -->

  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="container">
      <%include src="../partials/header.html"%>
      <%include src="../partials/journeys-menu.html"%>

      <div id="vis">
            <div class="panels-wrapper">
              <div class="panels-group">

                <div class="panel panel-text overlay" data-type="text-overlay" id="text-0-1">
                  <div class="panel-text-wrapper">
                    <h3>About 25% of New York City's residential and institutional non-recyclable waste is incinerated.</h3>
                    <p>Find out where this waste goes and what happens to it after it's collected.<span class="tooltip">*<span class="tooltiptext">DSNY Monthly Tonnage Reports, 2016; DSNY Recycling and Refuse Disposal Networks, 2016; NY; NYSDEC Transfer Station Annual Reports, 2016; <a href="http://www.wastedive.com/news/can-major-us-cities-reach-zero-waste-without-waste-to-energy/429069/" class="inline-link">Waste Dive</a>.</span></span></p>
                    <p id="begin"><strong>Scroll down to begin <i class="fa fa-long-arrow-right" aria-hidden="true"></i></strong></p>
                    <p id="begin-mobile"><strong>Swipe right to begin <i class="fa fa-long-arrow-right" aria-hidden="true"></i></strong></p>
                  </div>
                </div>
                <div class="panel panel-image" data-type="image" id="panel-0-1" data-imageurl="trash-bags.jpg"></div>
                <div class="panel panel-text overlay" data-type="text-overlay" id="text-0-2">
                  <h5 class="section-title">COLLECTION</h5>
                  <div class="panel-text-wrapper">
                    <h3>Picking up</h3>
                    <p>Residential and institutional waste is collected by the Department of Sanitation in all five boroughs of New York City.</p>
                    <p>The collected waste goes into rear-loader compactor trucks such as this one.</p>
                  </div>
                </div>
                <div class="panel panel-image" data-type="image" id="panel-0-2" data-imageurl="collection.jpg"></div>


                <div class="panel panel-text block not-mobile" data-type="text-block" id="text-2-0">
                  <h5 class="section-title">TRANSFER</h5>
                  <div class="panel-text-wrapper">
                    <h3>To the incinerator</h3>
                    <p>
                      After collection, waste from the Bronx, Brooklyn, Queens, Staten Island, and parts of Manhattan is taken to transfer stations.
                      From there, it is usually taken by train or semi trucks to landfills outside the city.
                    </p>
                    <p>
                      There are two main exceptions to this: most of Manhattan's residential refuse is taken by collection trucks directly to an incinerator in Newark, New Jersey;
                      and waste from eastern portions of Queens is taken to the North Shore Marine Transfer Station, and from there sent to incinerators in upstate NY and Pennsylvania.
                    </p>
                    <p>(Click map to replay animation)</p>
                  </div>
                </div>
                <div class="panel panel-text block mobile" data-type="text-block" id="text-2-0">
                  <h5 class="section-title">TRANSFER</h5>
                  <div class="panel-text-wrapper">
                    <h3>To the incinerator</h3>
                    <p>
                      After collection, waste from the Bronx, Brooklyn, Queens, Staten Island, and parts of Manhattan is taken to transfer stations.
                      From there, it is usually taken by train or semi trucks to landfills outside the city.
                    </p>
                  </div>
                </div>
                <div class="panel panel-text block mobile" data-type="text-block" id="text-2-50">
                  <div class="panel-text-wrapper">
                    <h3>&nbsp;</h3>
                    <p>
                      There are two main exceptions to this: most of Manhattan's residential refuse is taken by collection trucks directly to an incinerator in Newark, New Jersey;
                      and waste from eastern portions of Queens is taken to the North Shore Marine Transfer Station, and from there sent to incinerators in upstate NY and Pennsylvania.
                    </p>
                    <p>(Click map to replay animation)</p>
                  </div>
                </div>
                <div class="panel panel-image map-inci-coll" data-type="map" id="panel-2-1" data-geo="nyc"></div>

                <div class="panel panel-text block" data-type="text-block" id="text-2-2">
                  <h5 class="section-title">INCINERATION</h5>
                  <div class="panel-text-wrapper">
                    <h3>The incinerator in Newark</h3>
                    <p>
                      Collection trucks from eight Community Districts in Manhattan drive directly to this facility in Newark, NJ, once they're full.
                    </p>
                    <p>The facility, built in 1990, is owned by the Port Authority of New York &amp; New Jersey and operated by Covanta, a private company.</p>
                    <p>It is the largest waste-to-energy incinerator in New Jersey, and receives waste from another 21 municipalities in the region in addition to New York City.</p>
                  </div>
                </div>
                <div class="panel panel-image" data-type="image" id="panel-2-5" data-imageurl="covanta-composite.jpg"></div>
                <div class="panel panel-text block" data-type="text-block" id="text-2-6">
                  <div class="panel-text-wrapper">
                    <h3>Unloading the trucks and feeding the boilers</h3>
                    <p>
                      Inside the facility, collection trucks unload their contents on one of the sides of an area known as the tipping floor. Front-end loaders push the waste into a series of shafts, dropping into an adjacent pit.
                    </p>
                    <p>
                      In the pit, an overhead crane picks up the waste and drops it into a bin called hopper, which feeds the waste into boilers for incineration.
                    </p>
                  </div>
                </div>
                <div class="panel panel-image" data-type="image" id="panel-2-7" data-imageurl="covanta-pit-cut.jpg"></div>
                <div class="panel panel-text block" data-type="text-block" id="text-2-8">
                  <div class="panel-text-wrapper pad-left">
                    <h3>Inside the boiler</h3>
                    <p>
                      This is where the incineration process actually begins. Inside the boilers, waste is incinerated at temperatures around 2,000° Fahrenheit.
                    </p>
                  </div>
                </div>
                <div class="panel panel-image" data-type="image" id="panel-2-9" data-imageurl="boiler.jpg"></div>
                <div class="panel panel-text block" data-type="text-block" id="text-2-10">
                  <div class="panel-text-wrapper pad-left">
                    <h3>The control room</h3>
                    <p>
                      From the control room, an operator monitors information on the boilers, the turbines and energy generators, and the gases exhausted in the process.
                    </p>
                  </div>
                </div>
                <div class="panel panel-image" data-type="image" id="panel-2-11" data-imageurl="control-room.jpg"></div>
                <div class="panel panel-text block" data-type="text-block" id="text-2-12">
                  <div class="panel-text-wrapper pad-left">
                    <h3>Electricity generation</h3>
                    <p>
                      The heat generated during the process is used to turn water into steam. The steam turns a turbine-driven generator to produce electricity, hence it's commonly referred to as a waste-to-energy incinerator, or just waste-to-energy facility.
                    </p>
                    <p>
                      This facility burns approximately 2,800 tons of waste per day, generating 500,000 megawatt-hours of electricity a year, or enough to power about 44,000 homes.<span class="tooltip">*<span class="tooltiptext"><a href="http://www.nj.gov/dep/newsrel/2016/16_0126.htm">NJDEP, 2016.</a></span></span>
                    </p>
                  </div>
                </div>
                <div class="panel panel-image" data-type="image" id="panel-2-13" data-imageurl="generator.jpg"></div>
                <div class="panel panel-text block" data-type="text-block" id="text-2-14">
                  <div class="panel-text-wrapper pad-left">
                    <h3>Emissions control</h3>
                    <p>
                      The waste combustion generates emissions as well as heat. To comply with federal Clean Air Act standards, the facility must have a series of systems to filter out pollutants.
                    </p>
                    <p>

                    </p>
                  </div>
                </div>
                <div class="panel panel-image" data-type="image" id="panel-2-15" data-imageurl="diagram.jpg"></div>
                <div class="panel panel-text block not-mobile" data-type="text-block" id="text-2-16">
                  <div class="panel-text-wrapper">
                    <h3>The debate over incineration</h3>
                    <p>
                      There has been a long-standing debate over the environmental and health impacts of waste incineration.
                    </p>
                    <p>
                      Advocates in favor of it argue that it is an environmentally safe method of reducing waste volumes, thanks to sophisticated pollution controls. They also point out that incineration generates electricity and avoids greenhouse gas emissions from landfilling.
                    </p>
                    <p>
                      In fact, the industry avoids the term incineration altogether, arguing that it relates to old, unsafe facilities, and uses the term waste-to-energy (WtE). It also argues that WtE produces renewable energy since "the fuel (waste) is consistently replenished."<span class="tooltip">*<span class="tooltiptext"><a href="https://www.covanta.com/Sustainability/Energy-from-Waste/EfW-Facilities-Incinerators" target="_blank">"EfW Facilities vs Incinerators," Covanta</a>.</span></span>
                    </p>
                  </div>
                </div>
                <div class="panel panel-text block mobile" data-type="text-block" id="text-2-16">
                  <div class="panel-text-wrapper">
                    <h3>The debate over incineration</h3>
                    <p>
                      There has been a long-standing debate over the environmental and health impacts of waste incineration.
                    </p>
                    <p>
                      Advocates in favor of it argue that it is an environmentally safe method of reducing waste volumes, thanks to sophisticated pollution controls. They also point out that incineration generates electricity and avoids greenhouse gas emissions from landfilling.
                    </p>
                  </div>
                </div>
                <div class="panel panel-text block not-mobile" data-type="text-block" id="text-2-17">
                  <div class="panel-text-wrapper">
                    <h3>&nbsp;</h3>
                    <p>
                      Opponents of waste incineration argue that waste cannot be considered a renewable resource, since it is derived from raw-materials. Also, they say that incentivizing incineration generates disincentives to recycling and reuse.
                    </p>
                    <p>
                      In addition, they argue that waste incineration releases large quantities of heavy metals and dioxins into the air, and that the resulting ash also contaminates soil and water. In fact, a NY State Department of Environmental Protection study from 2009 has shown that WtE plants can produce up to 14 times more mercury than coal fired power plants for the same amount of electricity generated.<span class="tooltip">*<span class="tooltiptext"><a href="http://documents.dps.ny.gov/public/Common/ViewDoc.aspx?DocRefId=%7BDEEA097E-A9A6-4E53-898C-0BC2F4C60CC4%7D" target="_blank">"Comments to New York State Public Service Commission in the Matter of the application of Covanta Energy Corporation," NYSDEP, 2009</a>.</span></span>
                    </p>
                    <p>
                      This would pose serious risks for communities living near these facilities, advocates say, which in the U.S. are largely low-income or communities of color.<span class="tooltip">*<span class="tooltiptext"><a href="http://www.no-burn.org/wp-content/uploads/Incinerator_Myths_vs_Facts-Feb2012.pdf" target="_blank">"Myhts and Facts About 'Waste-to-Energy'," GAIA, 2012</a>.</span></span>
                    </p>
                  </div>
                </div>
                <div class="panel panel-text block mobile" data-type="text-block" id="text-2-17">
                  <div class="panel-text-wrapper">
                    <h3>&nbsp;</h3>
                    <p>
                      In fact, the industry avoids the term incineration altogether, arguing that it relates to old, unsafe facilities, and uses the term waste-to-energy (WtE). It also argues that WtE produces renewable energy since "the fuel (waste) is consistently replenished."<span class="tooltip">*<span class="tooltiptext"><a href="https://www.covanta.com/Sustainability/Energy-from-Waste/EfW-Facilities-Incinerators" target="_blank">"EfW Facilities vs Incinerators," Covanta</a>.</span></span>
                    </p>
                    <p>
                      Opponents of waste incineration argue that waste cannot be considered a renewable resource, since it is derived from raw-materials. Also, they say that incentivizing incineration generates disincentives to recycling and reuse.
                    </p>
                  </div>
                </div>
                <div class="panel panel-text block mobile" data-type="text-block" id="text-2-18">
                  <div class="panel-text-wrapper">
                    <h3>&nbsp;</h3>
                    <p>
                      In addition, they argue that waste incineration releases large quantities of heavy metals and dioxins into the air, and that the resulting ash also contaminates soil and water. In fact, a NY State Department of Environmental Protection study from 2009 has shown that WtE plants can produce up to 14 times more mercury than coal fired power plants for the same amount of electricity generated.<span class="tooltip">*<span class="tooltiptext"><a href="http://documents.dps.ny.gov/public/Common/ViewDoc.aspx?DocRefId=%7BDEEA097E-A9A6-4E53-898C-0BC2F4C60CC4%7D" target="_blank">"Comments to New York State Public Service Commission in the Matter of the application of Covanta Energy Corporation," NYSDEP, 2009</a>.</span></span>
                    </p>
                  </div>
                </div>
                <div class="panel panel-text block mobile" data-type="text-block" id="text-2-31">
                  <div class="panel-text-wrapper">
                    <h3>&nbsp;</h3>
                    <p>
                      This would pose serious risks for communities living near these facilities, advocates say, which in the U.S. are largely low-income or communities of color.<span class="tooltip">*<span class="tooltiptext"><a href="http://www.no-burn.org/wp-content/uploads/Incinerator_Myths_vs_Facts-Feb2012.pdf" target="_blank">"Myhts and Facts About 'Waste-to-Energy'," GAIA, 2012</a>.</span></span>
                    </p>
                  </div>
                </div>
                <div class="panel panel-image" data-type="image" id="panel-2-19" data-imageurl="incinerator-protest.jpg"></div>
                <div class="panel panel-text block not-mobile" data-type="text-block" id="text-2-20">
                  <div class="panel-text-wrapper">
                    <h3>Community opposition</h3>
                    <p>
                      There is a long history of struggle between the community and the incinerator in the Ironbound neighborhood in Newark, where this facility is located.
                    </p>
                    <p>
                      Residents have been opposing the facility since plans for it were announced in the 1980s. In 2010, two local environmental groups settled a lawsuit against Covanta, which obligated the company to install better emission controls at its facility, as well as spend $875,000 towards a new park in the area.<span class="tooltip">*<span class="tooltiptext"><a href="https://www.law360.com/articles/196547/covanta-settles-caa-suit-over-nj-incinerator" target="_blank">"Covanta Settles CAA Suit Over NJ Incinerator'," Law 360, 2010</a>.</span></span>
                    </p>
                    <p>
                      In 2016, the NJ Department of Environmental Protection announced together with Covanta, the company operating the facility, the voluntary construction of three new "baghouse" filters to improve emissions control, at the cost of $90 million.<span class="tooltip">*<span class="tooltiptext"><a href="http://www.nj.gov/dep/newsrel/2016/16_0126.htm">NJDEP, 2016.</a></span></span>
                    </p>
                  </div>
                </div>
                <div class="panel panel-text block mobile" data-type="text-block" id="text-2-20">
                  <div class="panel-text-wrapper">
                    <h3>Community opposition</h3>
                    <p>
                      There is a long history of struggle between the community and the incinerator in the Ironbound neighborhood in Newark, where this facility is located.
                    </p>
                    <p>
                      Residents have been opposing the facility since plans for it were announced in the 1980s. In 2010, two local environmental groups settled a lawsuit against Covanta, which obligated the company to install better emission controls at its facility, as well as spend $875,000 towards a new park in the area.<span class="tooltip">*<span class="tooltiptext"><a href="https://www.law360.com/articles/196547/covanta-settles-caa-suit-over-nj-incinerator" target="_blank">"Covanta Settles CAA Suit Over NJ Incinerator'," Law 360, 2010</a>.</span></span>
                    </p>
                  </div>
                </div>
                <div class="panel panel-text block mobile" data-type="text-block" id="text-2-21">
                  <div class="panel-text-wrapper">
                    <h3>&nbsp;</h3>
                    <p>
                      In 2016, the NJ Department of Environmental Protection announced together with Covanta, the company operating the facility, the voluntary construction of three new "baghouse" filters to improve emissions control, at the cost of $90 million.<span class="tooltip">*<span class="tooltiptext"><a href="http://www.nj.gov/dep/newsrel/2016/16_0126.htm">NJDEP, 2016.</a></span></span>
                    </p>
                  </div>
                </div>

                <div class="panel panel-text block" data-type="text-block" id="text-3-0">
                  <div class="panel-text-wrapper">
                    <h3>Byproduct of incineration: ash</h3>
                    <p>
                      Incinerating waste reduces it to ash that is about 5-15% of its original volume, and 15-25% of its original weight.<span class="tooltip">*<span class="tooltiptext"><a href="https://www.epa.gov/smm/energy-recovery-combustion-municipal-solid-waste-msw">"Energy Recovery from the Combustion of Municipal Solid Waste (MSW)," US EPA.</a></span></span>
                    </p>
                    <p>
                      This ash is landfilled either along with other municipal solid waste or placed in ash-only "monofills." Some landfills also allow the use of ash as a replacement for soil, which is required as a daily cover for other wastes.
                    </p>
                  </div>
                </div>
                <div class="panel panel-image" data-type="image" id="panel-3-1" data-imageurl="ash-treadmill.jpg"></div>
                <div class="panel panel-text overlay" data-type="text-overlay" id="text-3-2">
                  <div class="panel-text-wrapper">
                    <h3>Metals recovery</h3>
                    <p>
                      Metals do not burn in the incineration process and are separated from the remaining ash through mechanical and electrical processes. In 2016, this facility sent about 15,000 tons of ferrous metals for recycling.<span class="tooltip">*<span class="tooltiptext"><a href="http://www.nj.gov/dep/newsrel/2016/16_0126.htm">NJDEP, 2016.</a></span></span>
                    </p>
                  </div>
                </div>
                <div class="panel panel-image" data-type="image" id="panel-3-2" data-imageurl="metals-sorter.jpg"></div>
                <div class="panel panel-text block" data-type="text-block" id="text-3-3">
                  <div class="panel-text-wrapper pad-left">
                    <h3>Ash leaving the facility</h3>
                    <p>
                      Trucks loaded with the incinerator ash will transport it to landfills for final disposal.
                    </p>
                  </div>
                </div>
                <div class="panel panel-image" data-type="image" id="panel-3-4" data-imageurl="ash-truck.jpg"></div>

                <div class="panel panel-text block" data-type="text-block" id="text-4-0">
                  <h5 class="section-title pad-left">LANDFILLING</h5>
                  <div class="panel-text-wrapper pad-left">
                    <h3>Landfilling the ash</h3>
                    <p>Here we see the incinerator ash being disposed of in an ash monofill.</p>
                    <p>After being unloaded from trucks, it is spread by bulldozers and then compacted by vibrating rollers.</p>
                  </div>
                </div>
                <div class="panel panel-image" data-type="image" id="panel-4-1" data-imageurl="ash-landfill-l.jpg"></div>
                <div class="panel panel-image" data-type="image" id="panel-4-2" data-imageurl="ash-landfill-r.jpg"></div>


                <!-- final -->
                <div class="panel panel-text block" data-type="text-block" id="text-4-3">
                  <div class="panel-text-wrapper">
                    <h3>But this is just a part of the story.</h3>
                    <p>Due to its commitment to send zero waste to landfills by 2030, the City is seeking to maximize its landfill diversion rate.</p>
                    <p>
                      And although the City currently uses an incinerator to dispose of 25% of the waste it collects, it has not addressed in its plans whether more incineration will be used to achieve higher landfill diversion rates.
                    </p>
                  </div>
                </div>
                <div class="panel panel-text not-mobile" data-type="text-block" id="text-4-7" style="padding-left: 50px !important;">
                  <div class="panel-text-wrapper">
                    <h3>&nbsp;</h3>
                    <p>In 2013, the City signed a 20-year contract with Covanta for the export of 800,000 tons of waste per year from North Shore and East 91st St marine transfer stations to incinerators outside the city.</p>
                    <p>Once the East 91st St facility is completed, this could mean that the City would incinerate up to 37% of its waste.</p>
                  </div>
                  <table class="menu-link" id="menu-link" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td><h3 class="no-margin">See what other waste journeys New York City's waste can take</h3></td>
                      <td><div class="menu-link-arrow"></div></td>
                    </tr>
                  </table>
                  <div class="credits smaller">
                    <p>Waste Journeys was created for <i>Getting to Zero</i>, the third installment of <a href="http://www.ohny.org/" class="inline-link">Open House New York</a>’s Urban Systems Series.
                      Getting to Zero is made possible by an award from the National Endowment for the Arts.
                      Digital content and research by <a href="http://www.bernardol.com/" class="inline-link">Bernardo Loureiro</a>.</p>
                    <p>Most photography courtesy of Michael Anton/DSNY;
                      photos from Covanta's boiler, control room, turbine, and emissions control by <a href="http://www.njbiz.com/" class="inline-link">Aaron Houston/NJBIZ</a>. Ironbound protest photo by <a href="http://ironboundcc.org/" class="inline-link">Ironbound Community Corporation</a>; ash landfill photos by Mass. DEP.
                    </p>
                  </div>
                </div>
                <div class="panel panel-text mobile" data-type="text-block" id="text-4-7">
                  <div class="panel-text-wrapper">
                    <h3>&nbsp;</h3>
                    <p>In 2013, the City signed a 20-year contract with Covanta for the export of 800,000 tons of waste per year from North Shore and East 91st St marine transfer stations to incinerators outside the city.</p>
                    <p>Once the East 91st St facility is completed, this could mean that the City would incinerate up to 37% of its waste.</p>
                  </div>
                </div>
                <div class="panel panel-text mobile" data-type="text-block" id="text-4-8" style="padding-left: 50px !important;">
                  <table class="menu-link" id="menu-link" border="0" cellspacing="0" cellpadding="0" style="margin-top: 50%;">
                    <tr>
                      <td><h3 class="no-margin">See what other waste journeys New York City's waste can take</h3></td>
                      <td><div class="menu-link-arrow"></div></td>
                    </tr>
                  </table>
                  <div class="credits smaller">
                    <p>Waste Journeys was created for <i>Getting to Zero</i>, the third installment of <a href="http://www.ohny.org/" class="inline-link">Open House New York</a>’s Urban Systems Series.
                      Getting to Zero is made possible by an award from the National Endowment for the Arts.
                      Digital content and research by <a href="http://www.bernardol.com/" class="inline-link">Bernardo Loureiro</a>.</p>
                    <p>Most photography courtesy of Michael Anton/DSNY;
                      photos from Covanta's boiler, control room, turbine, and emissions control by <a href="http://www.njbiz.com/" class="inline-link">Aaron Houston/NJBIZ</a>. Ironbound protest photo by <a href="http://ironboundcc.org/" class="inline-link">Ironbound Community Corporation</a>; ash landfill photos by Mass. DEP.
                    </p>
                  </div>
                </div>

              </div>
              <!-- panels -->
            </div>
            <!-- panels wrapper -->
      </div>
      <!-- vis -->

    </div>
    <!-- container -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      // ga('create', 'UA-91186450-1', 'auto');
      // ga('send', 'pageview');

    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script src="/bower_components/underscore/underscore.js"></script>
    <script src="/bower_components/perfect-scrollbar/js/perfect-scrollbar.js"></script>
    <script src="/bower_components/d3/d3.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/incineration-main.js -->
    <script src="scripts/sizes/incineration-sizes.js" charset="utf-8"></script>
    <script src="scripts/configs/incineration-configs.js" charset="utf-8"></script>
    <script src="scripts/maps/incineration-maps.js" charset="utf-8"></script>
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js" charset="utf-8"></script>
    <!-- endbuild -->
  </body>
</html>
