<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <title>Getting to Zero NYC | Waste Journeys | Organics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Search Engine -->
    <meta name="description" content="Organic material comprises about one third of New Yorker's residential waste. Follow its journey after being thrown away in a series of visualizations.">
    <meta name="image" content="http://journeys.gettingtozero.nyc/images/thumbnails/site.jpg">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="Getting to Zero NYC | Waste Journeys | Organics">
    <meta itemprop="description" content="Organic material comprises about one third of New Yorker's residential waste. Follow its journey after being thrown away in a series of visualizations.">
    <meta itemprop="image" content="http://journeys.gettingtozero.nyc/images/thumbnails/site.jpg">
    <!-- Twitter -->
    <meta property="twitter:url" content="http://journeys.gettingtozero.nyc/organics.html" />
    <meta property="twitter:card" content="summary">
    <meta property="twitter:title" content="Getting to Zero NYC | Waste Journeys | Organics">
    <meta property="twitter:description" content="Organic material comprises about one third of New Yorker's residential waste. Follow its journey after being thrown away in a series of visualizations.">
    <meta property="twitter:image:src" content="http://journeys.gettingtozero.nyc/images/thumbnails/organics-tw.jpg">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta property="og:title" content="Getting to Zero NYC | Waste Journeys | Organics">
    <meta property="og:description" content="Organic material comprises about one third of New Yorker's residential waste. Follow its journey after being thrown away in a series of visualizations.">
    <meta property="og:image" content="http://journeys.gettingtozero.nyc/images/thumbnails/organics-og.jpg">
    <meta property="og:url" content="http://journeys.gettingtozero.nyc/organics.html">
    <meta property="og:site_name" content="Getting to Zero NYC | Waste Journeys | OHNY">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/perfect-scrollbar/css/perfect-scrollbar.css" />
    <link rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/custom_components/modernizr/modernizr-custom.js"></script>
    <!-- endbuild -->

  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="container">
      <%include src="../partials/header.html"%>
      <%include src="../partials/journeys-menu.html"%>

      <div id="vis">
            <div class="panels-wrapper">
              <div class="panels-group">

                <div class="panel panel-text overlay" data-type="text-overlay" id="text-0-1">
                  <div class="panel-text-wrapper">
                    <h3>About one third of New York City's residential waste is comprised of organic material.</h3>
                    <p>This includes food scraps and yard waste and amounts to about 1.1 million tons per year.<span class="tooltip">*<span class="tooltiptext">OneNYC, 2014.</span></p>
                    <p>Find out about current initiatives by the City and communities to address this issue.</p>
                    <p id="begin"><strong>Scroll down to begin <i class="fa fa-long-arrow-right" aria-hidden="true"></i></strong></p>
                    <p id="begin-mobile"><strong>Swipe right to begin <i class="fa fa-long-arrow-right" aria-hidden="true"></i></strong></p>
                  </div>
                </div>
                <div class="panel panel-image" data-type="image" id="panel-0-1" data-imageurl="filling-brown-bin-l.jpg"></div>
                <div class="panel panel-image" data-type="image" id="panel-0-2" data-imageurl="filling-brown-bin-r.jpg"></div>

                <div class="panel panel-text block" data-type="text-block" id="text-0-3">
                  <h5 class="section-title">COLLECTION</h5>
                  <div class="panel-text-wrapper">
                    <h3>The City's organics collection program</h3>
                    <p>Since 2013, the Department of Sanitation (DSNY) has been implementing a curbside organics collection program.</p>
                    <p>In certain neighborhoods, DSNY will provide residents with a brown bin for organics and yard waste to be collected separately from recyclables and refuse.</p>
                    <p>DSNY also collects organics from selected schools, institutions, and apartment buildings.</p>
                  </div>
                </div>
                <div class="panel panel-image map-organics-coll" data-type="map" id="panel-0-4" data-geo="nyc"></div>
                <div class="panel panel-text block" data-type="text-block" id="text-0-5">
                  <div class="panel-text-wrapper">
                    <h3>Collecting the organics</h3>
                    <p>Organics are collected separately from refuse and recyclables, either by using different trucks or dual-bin trucks such as this one.</p>
                    <p>The collection program is expanding, and as of 2017 serves about 1 million people, making it the largest municipal organics collection program in the country.<span class="tooltip">*<span class="tooltiptext">DSNY, 2017.</span></span></p>
                    <p>In fiscal year 2016, DSNY has collected approximately 21,600 tons of organics.<span class="tooltip">*<span class="tooltiptext"><a href="http://www1.nyc.gov/assets/dsny/docs/about_dsny-non-dsny-collections-FY2016.pdf">DSNY Annual Report, FY 2016.</a>.</span></span></p>
                  </div>
                </div>
                <div class="panel panel-image" data-type="image" id="panel-0-6" data-imageurl="brown-bin-collection.jpg"></div>
                <div class="panel panel-text" data-type="text-block" id="text-0-7">
                  <div class="panel-text-wrapper pad-left">
                    <h3>Alternatives to landfilling</h3>
                    <p>After collection, organics will be taken for composting at facilities inside the city or in the region, or to an anaerobic digestor in Brooklyn.</p>
                    <p>Both strategies reduce methane emissions from organics decomposing in landfills.
                      Since there are no landfills in the city,
                      they also help reduce the amount of money spent by the City exporting waste to distant sites.
                    </p>
                  </div>
                </div>
                <div class="panel panel-image map-organicsdest" data-type="map" id="panel-0-8" data-geo="nys"></div>
                <div class="panel panel-text not-mobile" data-type="text-block" id="text-1-0">
                  <div class="panel-text-wrapper pad-left">
                    <h3>The anaerobic digesters</h3>
                    <p>These stainless steel digester "eggs" are located at the Newtown Creek Sewage Treatment Plant. They're filled with a mix of organics from sewage and food waste that has been processed into a slurry.</p>
                    <p>Inside the eggs, bacteria digests the organics in the absence of oxygen and produce methane, which can be used as fuel.</p>
                    <p>There are 8 eggs in total. They are 140 feet tall and process 1.5 million gallons of material per day.<span class="tooltip">*<span class="tooltiptext"><a href="http://www.nyc.gov/html/dep/html/environmental_education/newtown_digesters.shtml">NYC DEP.</a></span></span></p>
                  </div>
                </div>
                <div class="panel panel-text mobile" data-type="text-block" id="text-1-0">
                  <div class="panel-text-wrapper pad-left">
                    <h3>The anaerobic digesters</h3>
                    <p>These stainless steel digester "eggs" are located at the Newtown Creek Sewage Treatment Plant. They're filled with a mix of organics from sewage and food waste that has been processed into a slurry.</p>
                  </div>
                </div>
                <div class="panel panel-text mobile" data-type="text-block" id="text-1-1">
                  <div class="panel-text-wrapper pad-left">
                    <h3>&nbsp;</h3>
                    <p>Inside the eggs, bacteria digests the organics in the absence of oxygen and produce methane, which can be used as fuel.</p>
                    <p>There are 8 eggs in total. They are 140 feet tall and process 1.5 million gallons of material per day.<span class="tooltip">*<span class="tooltiptext"><a href="http://www.nyc.gov/html/dep/html/environmental_education/newtown_digesters.shtml">NYC DEP.</a></span></span></p>
                  </div>
                </div>
                <div class="panel panel-image" data-type="image" id="panel-1-2" data-imageurl="digester.jpg"></div>


                <!-- si compost facility -->
                <div class="panel panel-text" data-type="text-block" id="text-2-0">
                  <div class="panel-text-wrapper">
                    <h3>Arriving at the Staten Island Composting Facility</h3>
                    <p>Organics that are collected on Staten Island are processed at this facility in the same borough, along with yard waste from other boroughs. The facility is located by the deactivated Fresh Kills landfill.</p>
                  </div>
                </div>
                <div class="panel panel-image" data-type="image" id="panel-2-1" data-imageurl="si-tipping.jpg"></div>
                <div class="panel panel-image" data-type="image" id="panel-2-2" data-imageurl="si-frontloader.jpg"></div>
                <div class="panel panel-text" data-type="text-block" id="text-2-3">
                  <div class="panel-text-wrapper pad-left">
                    <h3>Piling up the organics</h3>
                    <p>After being unloaded from collection trucks, organics are piled in long rows, called windrows.</p>
                    <p>The quantities of dry material, such as wood and yard waste, and wet material, such as food scraps, are controlled to ensure the efficiency of the composting process.</p>
                    <p>Windrows are periodically turned by machines to control oxygen levels, temperature, and moisture.</p>
                  </div>
                </div>
                <div class="panel panel-image" data-type="image" id="panel-2-4" data-imageurl="windrow.jpg"></div>
                <div class="panel panel-text" data-type="text-block" id="text-2-5">
                  <div class="panel-text-wrapper pad-left">
                    <h3>Compost made from local organics</h3>
                    <p>The resulting compost is donated by DSNY for local use in gardening, public greening, soil mitigation, and street tree stewardship.</p>
                    <p>It can be requested by residents, city agencies, and nonprofits. Commercial landscapers can also purchase the compost from the Staten Island Facility.</p>
                  </div>
                </div>
                <div class="panel panel-image" data-type="image" id="panel-2-6" data-imageurl="using-compost.jpg"></div>

                <!-- community -->
                <div class="panel panel-text not-mobile" data-type="text-block" id="text-2-7">
                  <h5 class="section-title">COMMUNITY COMPOSTING</h5>
                  <div class="panel-text-wrapper">
                    <h3>At the community level</h3>
                    <p>Decades before DSNY began collecting curbside organics, New York already had a series of community composting initiatives. In fact, DSNY has supported many of these initiatives since 1993 through the NYC Compost Project.</p>
                    <p>Today, New Yorkers can drop off organics at several sites, including street markets, gardens, and nonprofits. Many of these receive support and funding from the City.</p>
                    <p>In addition, several community gardens use local compost, and some also take in organics for composting.</p>
                  </div>
                </div>
                <div class="panel panel-text mobile" data-type="text-block" id="text-2-7">
                  <h5 class="section-title">COMMUNITY COMPOSTING</h5>
                  <div class="panel-text-wrapper">
                    <h3>At the community level</h3>
                    <p>Decades before DSNY began collecting curbside organics, New York already had a series of community composting initiatives. In fact, DSNY supports many of these initiatives since 1993 through the NYC Compost Project.</p>
                  </div>
                </div>
                <div class="panel panel-text mobile" data-type="text-block" id="text-2-8">
                  <div class="panel-text-wrapper">
                    <h3>&nbsp;</h3>
                    <p>Today, New Yorkers can drop-off organics at several sites, including street markets, gardens, and nonprofits. Many of these receive support and funding from the City.</p>
                    <p>In addition, several community gardens use local compost, and some also take in organics for composting.</p>
                  </div>
                </div>
                <div class="panel panel-image map-dropoff" data-type="map" id="panel-3-1" data-geo="nyc"></div>
                <div class="panel panel-text not-mobile" data-type="text-block" id="text-3-2">
                  <div class="panel-text-wrapper">
                    <h3>Food scraps drop-off</h3>
                    <p>One type of location where residents can bring certain types of food scraps are Greenmarkets, a farmers market program. There, the scraps are stored in large bins before being taken to compost sites in the city.</p>
                    <p>The Greenmarket compost program is a partnership between the City, DSNY, GrowNYC, and community partners.</p>
                    <p>DSNY estimates that Greenmarkets and other City-funded but not City-collected locations have sent at least 2,000 tons for composting in 2016.<span class="tooltip">*<span class="tooltiptext"><a href="http://www1.nyc.gov/assets/dsny/docs/about_dsny-non-dsny-collections-FY2016.pdf">DSNY Annual Report, FY 2016.</a></span></span>
                  </p>
                  </div>
                </div>
                <div class="panel panel-text mobile" data-type="text-block" id="text-3-2">
                  <div class="panel-text-wrapper">
                    <h3>Food scraps drop-off</h3>
                    <p>One type of location where residents can bring certain types of food scraps are Greenmarkets, a farmers market program. There, the scraps are stored in large bins before being taken to compost sites in the city.</p>
                    <p>The Greenmarket compost program is a partnership between the City, DSNY, GrowNYC, and community partners.</p>
                  </p>
                  </div>
                </div>
                <div class="panel panel-text mobile" data-type="text-block" id="text-3-3">
                  <div class="panel-text-wrapper">
                    <h3>&nbsp;</h3>
                    <p>DSNY estimates that Greenmarkets and other City-funded but not City-collected locations have sent at least 2,000 tons for composting in 2016.<span class="tooltip">*<span class="tooltiptext"><a href="http://www1.nyc.gov/assets/dsny/docs/about_dsny-non-dsny-collections-FY2016.pdf">DSNY Annual Report, FY 2016.</a></span></span>
                  </p>
                  </div>
                </div>
                <div class="panel panel-image" data-type="image" id="panel-3-4" data-imageurl="drop-off.jpg"></div>
                <div class="panel panel-text" data-type="text-block" id="text-3-5">
                  <div class="panel-text-wrapper">
                    <h3>Community composting</h3>
                    <p>Bins from drop-off locations are taken one of several to compost sites in the city.</p>
                    <p>In this one, run by NYC Compost Project Hosted by Earth Matter NY, volunteers help more experienced composters to build a windrow and learn about composting in the process.</p>
                    <p>NOTE: waiting for photo permission.</p>
                  </div>
                </div>
                <div class="panel panel-image" data-type="image" id="panel-3-6" data-imageurl="community-composting.jpg"></div>
                <div class="panel panel-text" data-type="text-block" id="text-3-7">
                  <div class="panel-text-wrapper">
                    <h3>From food scraps to food</h3>
                    <p>The produced compost is often used in local community gardens and farms, helping turn food scraps into food again.</p>
                    <p>NOTE: waiting for photo permission.</p>
                  </div>
                </div>
                <div class="panel panel-image" data-type="image" id="panel-3-8" data-imageurl="community-farm.jpg"></div>

                <!-- final -->
                <div class="panel panel-text not-mobile" data-type="text-block" id="text-4-7" style="padding-left: 50px !important;">
                  <div class="panel-text-wrapper">
                    <h3>But this is just a part of the story.</h3>
                    <p>Due to its commitment to send zero waste to landfills by 2030, the City is seeking to maximize its landfill diversion rate.</p>
                    <p>Today,
                      <span class="bold">only about 2%</span> of all residential organics are diverted form landfills by DSNY and DSNY-funded programs.<span class="tooltip">*<span class="tooltiptext"><a href="http://www1.nyc.gov/assets/dsny/docs/about_dsny-non-dsny-collections-FY2016.pdf">DSNY Annual Report, FY 2016.</a></span></span>
                    </p>
                  </div>
                  <table class="menu-link" id="menu-link" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td><h3 class="no-margin">See what other waste journeys New York City's waste can take</h3></td>
                      <td><div class="menu-link-arrow"></div></td>
                    </tr>
                  </table>
                  <div class="credits smaller">
                    <p>Waste Journeys was created for <i>Getting to Zero</i>, the third installment of Open House New York’s Urban Systems Series.
                      Getting to Zero is made possible by an award from the National Endowment for the Arts.
                      Digital content and research by Bernardo Loureiro.</p>
                    <p>Most photography courtesy of Michael Anton/DSNY;
                      community composting photos by
                      <a href="https://earthmatter.org" target="_blank" class="inline-link">NYC Compost Project Hosted by Earth Matter NY</a>.
                      Map data by OpenStreetMap contributors; NYC DCP; DSNY; US Census.</p>
                  </div>
                </div>
                <div class="panel panel-text mobile" data-type="text-block" id="text-4-7">
                  <div class="panel-text-wrapper">
                    <h3>But this is just a part of the story.</h3>
                    <p>Due to its commitment to send zero waste to landfills by 2030, the City is seeking to maximize its landfill diversion rate.</p>
                    <p>Today,
                      <span class="bold">only about 2%</span> of all residential organics are diverted form landfills by DSNY and DSNY-funded programs.<span class="tooltip">*<span class="tooltiptext"><a href="http://www1.nyc.gov/assets/dsny/docs/about_dsny-non-dsny-collections-FY2016.pdf">DSNY Annual Report, FY 2016.</a></span></span>
                    </p>
                  </div>
                </div>
                <div class="panel panel-text mobile" data-type="text-block" id="text-4-8" style="padding-left: 50px !important;">
                  <table class="menu-link" id="menu-link" border="0" cellspacing="0" cellpadding="0" style="margin-top: 50%;">
                    <tr>
                      <td><h3 class="no-margin">See what other waste journeys New York City's waste can take</h3></td>
                      <td><div class="menu-link-arrow"></div></td>
                    </tr>
                  </table>
                  <div class="credits smaller">
                    <p>Waste Journeys was created for <i>Getting to Zero</i>, the third installment of Open House New York’s Urban Systems Series.
                      Getting to Zero is made possible by an award from the National Endowment for the Arts.
                      Digital content and research by Bernardo Loureiro.</p>
                    <p>Most photography courtesy of Michael Anton/DSNY;
                      some community composting photos by
                      <a href="https://earthmatter.org" target="_blank" class="inline-link">Earth Matter</a>.
                      Map data by OpenStreetMap contributors; NYC DCP; DSNY; US Census.</p>
                  </div>
                </div>

              </div>
              <!-- panels -->
            </div>
            <!-- panels wrapper -->
      </div>
      <!-- vis -->

    </div>
    <!-- container -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      // ga('create', 'UA-91186450-1', 'auto', {'allowLinker': true});
      // ga('require', 'linker');
      // ga('linker:autoLink', ['www.gettingtozero.nyc'] );
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script src="/bower_components/underscore/underscore.js"></script>
    <script src="/bower_components/perfect-scrollbar/js/perfect-scrollbar.js"></script>
    <script src="/bower_components/d3/d3.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/organics-main.js -->
    <script src="scripts/sizes/organics-sizes.js" charset="utf-8"></script>
    <script src="scripts/configs/organics-configs.js" charset="utf-8"></script>
    <script src="scripts/maps/organics-maps.js" charset="utf-8"></script>
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js" charset="utf-8"></script>
    <!-- endbuild -->
  </body>
</html>
