<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <title>Getting to Zero NYC | Waste Journeys | Recyclables</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Search Engine -->
    <meta name="description" content="What happens to your trash in New York City after you throw it away? Follow the journeys your trash can take in a series of visualizations.">
    <meta name="image" content="http://journeys.gettingtozero.nyc/images/thumbnails/site.jpg">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="Getting to Zero NYC | Waste Journeys | Recyclables">
    <meta itemprop="description" content="What happens to your trash in New York City after you throw it away? Follow the journeys your trash can take in a series of visualizations.">
    <meta itemprop="image" content="http://journeys.gettingtozero.nyc/images/thumbnails/site.jpg">
    <!-- Twitter -->
    <meta property="twitter:url" content="http://journeys.gettingtozero.nyc/recyclables.html" />
    <meta property="twitter:card" content="summary">
    <meta property="twitter:title" content="Getting to Zero NYC | Waste Journeys | Recyclables">
    <meta property="twitter:description" content="What happens to your trash in New York City after you throw it away? Follow the journeys your trash can take in a series of visualizations.">
    <meta property="twitter:image:src" content="http://journeys.gettingtozero.nyc/images/thumbnails/recyclables-tw.jpg">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta property="og:title" content="Getting to Zero NYC | Waste Journeys | Recyclables">
    <meta property="og:description" content="What happens to your trash in New York City after you throw it away? Follow the journeys your trash can take in a series of visualizations.">
    <meta property="og:image" content="http://journeys.gettingtozero.nyc/images/thumbnails/recyclables-og.jpg">
    <meta property="og:url" content="http://journeys.gettingtozero.nyc/recyclables.html">
    <meta property="og:site_name" content="Getting to Zero NYC | Waste Journeys | OHNY">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/perfect-scrollbar/css/perfect-scrollbar.css" />
    <link rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/custom_components/modernizr/modernizr-custom.js"></script>
    <!-- endbuild -->

  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="container">
      <%include src="../partials/header.html"%>
      <%include src="../partials/journeys-menu.html"%>

      <div id="vis">
            <div class="panels-wrapper">
              <div class="panels-group">

                <div class="panel panel-text overlay" data-type="text-overlay" id="text-0-1">
                  <div class="panel-text-wrapper">
                    <h3>New Yorkers generate more than two pounds of trash per person, every day.</h3>
                    <p>Find out what happens to it after residents or public institutions put it on the curb or in a wastebasket on the street.</p>
                    <p id="begin"><strong>Scroll down to begin <i class="fa fa-long-arrow-right" aria-hidden="true"></i></strong></p>
                    <p id="begin-mobile"><strong>Swipe right to begin <i class="fa fa-long-arrow-right" aria-hidden="true"></i></strong></p>
                  </div>
                </div>
                <div class="panel panel-image" data-type="image" id="panel-0-1" data-imageurl="woman-walking.jpg"></div>

                <!-- collection -->
                <div class="panel panel-text overlay" data-type="text-overlay" id="text-1-1">
                  <h5 class="section-title">COLLECTION</h5>
                  <div class="panel-text-wrapper">
                    <h3>Two types of recyclables</h3>
                    <p>Recyclables are separated by residents and public institutions into two categories: metal, glass and plastic (MGP); and paper.</p>
                    <p>The Department of Sanitation collects them either by using two different trucks, or dual-bin trucks such as this one.</p>
                  </div>
                </div>
                <div class="panel panel-image" data-type="image" id="panel-1-1" data-imageurl="truck-collection.jpg"></div>
                <div class="panel panel-text" data-type="text-block" id="text-1-2">
                  <div class="panel-text-wrapper">
                    <h3>Recycling paper in the city</h3>
                    <p>About half of the paper collected by DSNY is recycled in the city, at the Pratt Paper Mill on Staten Island.<span class="tooltip">*<span class="tooltiptext">DSNY Recycling and Disposal Networks, 2016; NYSDEC Transfer Station Annual Reports, 2016.</span></span></p>
                    <p>The paper is taken there from Manhattan by barge, or from Staten Island and South Brooklyn by collection trucks.</p>
                    <p>(Click on the map to replay the animation)</p>
                  </div>
                </div>
                <div class="panel panel-image map-visy" data-type="map" id="panel-1-3" data-geo="nyc"></div>

                <div class="panel panel-text" data-type="text-block" id="text-2-0">
                  <div class="panel-text-wrapper">
                    <h3>Sorting facilities</h3>
                    <p>Approximately 20% of the metal, glass, and plastic (MGP) collected is taken by trucks to a sorting facility in Jersey City.<span class="tooltip">*<span class="tooltiptext">DSNY Recycling and Disposal Networks, 2016; NYSDEC Transfer Station Annual Reports, 2016.</span></span></p>
                    <p>The other 80% of MGP, along with the other half of the paper that is not recycled in Staten Island, is taken to a sorting facility in Sunset Park, either by truck or barge.</p>
                    <p>Both facilities are owned by Sims Metal Management.</p>
                    <p>(Click on the map to replay the animation)</p>
                  </div>
                </div>
                <div class="panel panel-image map-sims" data-type="map" id="panel-2-1" data-geo="nyc"></div>
                <div class="panel panel-text overlay" data-type="text-overlay" id="text-2-2">
                  <h5 class="section-title">SORTING</h5>
                  <div class="panel-text-wrapper">
                    <h3>Arriving at Sims Sunset Park</h3>
                    <p>As DSNY trucks enter the Sims sorting facility, they are weighed on this truck scale. The data is sent automatically to DSNY and allows them to calculate the quantity of recyclables collected.</p>
                    <p>This data is used for two purposes. First, it allows DSNY to estimate what percentage of the waste is being recycled. Second, since Sims and DSNY have a contract where they share revenue from selling recyclables, it allows DSNY to keep track of how much money is being made.</p>
                  </div>
                </div>
                <div class="panel panel-image" data-type="image" id="panel-2-2" data-imageurl="sims-scale.jpg"></div>
                <div class="panel panel-text" data-type="text-block" id="text-2-3">
                  <h5 class="section-title">TIPPING</h5>
                  <div class="panel-text-wrapper">
                    <h3>Entering the facility</h3>
                    <p></p>
                  </div>
                </div>
                <div class="panel panel-image" data-type="image" id="panel-2-4" data-imageurl="tipping-entrance.jpg"></div>
                <div class="panel panel-text overlay" data-type="text-overlay" id="text-2-5">
                  <div class="panel-text-wrapper pad-left">
                    <h3>Paper</h3>
                    <p>Paper recyclables are unloaded in one corner of the area known as the "tipping floor."</p>
                    <p>It will be loaded on semi trucks and sent to national or international paper recyclers.</p>
                  </div>
                </div>
                <div class="panel panel-image" data-type="image" id="panel-2-5" data-imageurl="tipping-paper.jpg"></div>
                <div class="panel panel-text overlay" data-type="text-overlay" id="text-2-6">
                  <div class="panel-text-wrapper">
                    <h3>Metal, glass, and plastic</h3>
                    <p>The other part of DSNY's recyclables is composed of mixed metal, glass, and plastic.</p>
                    <p>These are tipped on an opposite corner of the facility for further sorting.</p>
                  </div>
                </div>
                <div class="panel panel-image" data-type="image" id="panel-2-6" data-imageurl="tipping-mgp.jpg"></div>
                <div class="panel panel-text overlay" data-type="text-overlay" id="text-2-7">
                  <div class="panel-text-wrapper">
                    <h3>&nbsp;</h3>
                    <p>Front loaders will drop the recyclables onto a raising treadmill, which leads to the mechanized sorting system in the adjacent room.</p>
                  </div>
                </div>
                <div class="panel panel-image" data-type="image" id="panel-2-7" data-imageurl="loading-treadmill.jpg"></div>

                <!-- <div class="panel panel-text" data-type="text-block" id="text-3-0">
                  <div class="panel-text-wrapper">
                    <h3>The mechanical sorting line</h3>
                    <p></p>
                  </div>
                </div> -->
                <div class="panel panel-image" data-type="image" id="panel-3-1" data-imageurl="inside-sims-1.jpg"></div>
                <div class="panel panel-text" data-type="text-block" id="text-3-2">
                  <div class="panel-text-wrapper">
                    <h3>Mechanized sorting</h3>
                    <p></p>
                  </div>
                </div>
                <div class="panel panel-image" data-type="image" id="panel-3-5" data-imageurl="inside-sims-3.jpg"></div>



                <div class="panel panel-text" data-type="text-block" id="text-4-7" style="padding-left: 50px !important;">
                  <div class="panel-text-wrapper">
                    <h3>But this is just a part of the story.</h3>
                    <p>Residential and institutional waste sent to landfills respresents <span class="bold">only about 20%</span><span class="tooltip">*<span class="tooltiptext">OneNYC, 2014.</span></span> of all waste generated in New York City.</p>
                  </div>
                  <table class="menu-link" id="menu-link" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td><h3 class="no-margin">See what other waste journeys we'll be exploring over the coming months</h3></td>
                      <td><div class="menu-link-arrow"></div></td>
                    </tr>
                  </table>
                  <div class="credits smaller">
                    <p>Waste Journeys was created for <i>Getting to Zero</i>, the third installment of Open House New York’s Urban Systems Series.
                      Getting to Zero is made possible by an award from the National Endowment for the Arts.
                      Digital content and research by Bernardo Loureiro.</p>
                    <p>Photography courtesy of Michael Anton/DSNY; <a href="http://www.onemorefoldedsunset.com" target="_blank">One More Folded Sunset</a>.</p>
                  </div>
                </div>

              </div>
              <!-- panels -->
            </div>
            <!-- panels wrapper -->
      </div>
      <!-- vis -->

    </div>
    <!-- container -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      // (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      // (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      // m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      // })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      // ga('create', 'UA-91186450-1', 'auto');
      // ga('send', 'pageview');
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script src="/bower_components/underscore/underscore.js"></script>
    <script src="/bower_components/perfect-scrollbar/js/perfect-scrollbar.js"></script>
    <script src="/bower_components/d3/d3.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/recyclables-main.js -->
    <script src="scripts/sizes/recyclables-sizes.js" charset="utf-8"></script>
    <script src="scripts/configs/recyclables-configs.js" charset="utf-8"></script>
    <script src="scripts/maps/recyclables-maps.js" charset="utf-8"></script>
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js" charset="utf-8"></script>
    <!-- endbuild -->
  </body>
</html>
